<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Samuel Ng  - {% block title %}{% endblock %}</title>

        <!-- add icon link -->
        <link rel = "icon" href = "/static/logo.png" type = "image/x-icon">
    </head>

    <body>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        
        <!-- NavBar -->
        <nav id="mainNavbar" class="navbar sticky-top navbar-dark navbar-expand-lg py-1">
            <div class="container-fluid">
            <div class="brand-container">
                <a href="/" class="navbar-brand"><img src="/static/logo.png" alt="" width="30" height="20"><span>SAMUEL NG</span></a>            
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if current_user.is_authenticated %}
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active"> <a href="/" class="nav-link">HOME</a> </li>
                    <li class="nav-item"> <a href="/" class="nav-link">ABOUT</a> </li>
                    <li class="nav-item"> <a href="/track" class="nav-link">TRACK PRICE</a> </li>
                    <li class="nav-item"> <a href="/tracker" class="nav-link">PRICE WATCH</a> </li>
                </ul>
                <!-- nav divider hide on lg and wider screens -->
                <li class="divider d-none d-md-block d-sm-block d-lg-none"></li>

                <ul class="nav navbar-nav ms-auto" style="margin-right: 20px;">
                    <li class="nav-item"><a class="nav-link" href="/edit">Change Password</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav ms-auto" style="margin-right: 20px;">
                    <li class="nav-item active"><a class="nav-link" href="/register">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                </ul>
                {% endif %}
            </div>
            </div>
        </nav>

        <!-- flash message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        
                        <!-- show the "X" character in the button to dismiss the flash messages -->
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        
                        <!-- show the "X" character in the button to dismiss the flash messages -->
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        

    <!-- Page Content -->
    <main>
            
        {% block main %}{% endblock %}

    </main>

    <footer>
        <!-- thematic break -->
        <hr class="featurette-divider">

        <p class="footertext text-center">Follow and Subscribe us</p>
        <div class="social-links">
            <a href="/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/SamuelNg0218"><i class="fa fa-twitter"></i></a>
            <a href="https://www.google.com/" class="fa fa-google"></a>
            <a href="https://www.linkedin.com/in/samuel-ng-691352167/"><i class="fa fa-linkedin"></i></a>
            <a href="/"><i class="fa fa-instagram"></i></a>
         </div>
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3">
            <p class="footertext">© 2021 SAMUEL NG All rights reserved.</p>
        </div>

    </footer>

    
    </body>

</html>

