{% extends "layout.html" %}

{% block title %}Sign in{% endblock %}

{% block main %}
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">

        <form action="/login" method="POST">
        <h3><strong>Sign in to continue</strong></h3>

        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" autocomplete="off" autofocus="" name="username" placeholder="Username" type="text">
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        
        <small id="regHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top:20px;">Sign in</button>
        
        </form>
     </div>
    </div>
</div>
{% endblock %}